@import 'styles/variables';
@import 'styles/mixins';

.screen-container {
  @include flex();
  width: 100vw;
  height: 100vh;

  .main-container {
    @include flex(column, center, center);
    width: 50vw;
    height: 100vh;

    background: $color-white;
  }
}
