@import 'styles/variables';
@import 'styles/mixins';

.home {
  @include flex(row, inherit, inherit);
  width: 100vw;
  height: 100vh;
  .menu {
    @include flex(column, center, center);
    width: 20vw;
    height: 100vh;
    background: $color-white;
  }
}
