@import 'styles/variables';
@import 'styles/mixins';

.home {
  @include flex(row, inherit, inherit);
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: $md) {
    flex-direction: column;
    height: 200vh;
  }

  .menu {
    @include flex(column, flex-start, center);
    width: 26%;
    height: 100%;
    position: relative;
    background: $color-white;

    @media screen and (max-width: $md) {
      width: 100%;
      height: 100vh;
    }
  }
  &__map {
    width: 74vw;
    height: 100vh;
    position: relative;

    @media screen and (max-width: $md) {
      width: 100vw;
    }
  }
}
