@import 'styles/variables';
@import 'styles/mixins';

.home {
  @include flex(row, inherit, inherit);
  width: 100vw;
  height: 100vh;
  .menu {
    @include flex(column, flex-start, center);
    width: 23vw;
    height: 100vh;
    position: relative;
    background: $color-white;
  }
  &__map {
    width: 77vw;
    height: 100vh;
  }
}
