@import 'styles/mixins';
@import 'styles/variables';

.intro {
  @include flex(column);

  &-btn {
    margin-top: auto;
    margin-bottom: 4rem;
  }
}

.welcome {
  font-family: $font-family;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 3px;
  color: $color-black;
  display: inline;
}

.target {
  font-weight: bold;
  text-transform: uppercase;
}

.dot {
  height: 1rem;
  width: 1rem;
  background-color: $color-main-secondary;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.pgraph {
  @include flex(row, flex-start, flex-start);
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 26px;
  width: 90%;
}

.desc-target {
  font-family: $font-family;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2.1px;
  display: inline;
  font-weight: bold;
}
