.edit-profile-label {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1.65px;
}

.input-placeholder {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1.5px;
}
