@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/form.scss';
@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';

.clickable {
  opacity: 1;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
